<div id="map">
  <div class="place-finder">
    <slp-place-finder (selectPlace)="selectPlace($event)"></slp-place-finder>
  </div>

  <div class="place-list">
    <slp-places-list
      [places]="placesList"
      [start]="startPlace"
      (removeStartPlace)="removeStart()"
      (removePlace)="removePlaceFromList($event)"
      (pathsCompute)="pathsCompute($event)"
    ></slp-places-list>
  </div>

  <div class="path-display" *ngIf="shortestPath">
    <slp-path-display [path]="shortestPath"></slp-path-display>
  </div>

  <google-map height="100vh" width="100vw" [center]="center">
    <map-marker
      *ngIf="startPlace"
      [position]="startPlace.geometry.location"
      [label]="startPlace.name"
      [title]="startPlace.name"
    >
    </map-marker>
    <map-marker
      *ngFor="let marker of placesList"
      [position]="marker.geometry.location"
      [label]="marker.name"
      [title]="marker.name"
    >
    </map-marker
  ></google-map>
</div>
