.place-item {
  padding: 0.5vw;

  div {
    display: inline-block;
  }

  .place-name {
    width: 80%;
  }

  .place-delete {
    cursor: pointer;
  }

  .mat-icon {
    cursor: pointer;
    margin: 0 0.3vw;
    padding: 0.2vh 0.2vw;
  }

  .selected {
    color: #888888;
    border: 1px solid #888888;
    border-radius: 5px;
  }
}

.title {
  font-weight: 600;
}

.button-panel {
  padding: 1vh 0;
  text-align: center;
}

.load-spinner {
  display: inline-block;
  vertical-align: text-bottom;
}
