<div>
  <div class="place-item title">
    Mode de transport
  </div>
  <div class="place-item">
    <a *ngFor="let item of travelModes" (click)="setTravelMode(item.mode)">
      <mat-icon [class]="travelMode === item.mode ? 'selected' : null">{{
        item.icon
      }}</mat-icon></a
    >
  </div>
  <div class="place-item title">
    Point de départ
  </div>
  <div class="place-item" *ngIf="start">
    <div class="place-name">
      {{ start.name }}
    </div>
    <div class="place-delete">
      <mat-icon (click)="removeStart()">delete</mat-icon>
    </div>
  </div>
  <div class="place-item title">
    Liste des adresses
  </div>
  <div class="place-item" *ngFor="let place of places">
    <div class="place-name">{{ place.name }}</div>
    <div class="place-delete">
      <mat-icon (click)="removePlaceFromList(place)">delete</mat-icon>
    </div>
  </div>
  <div class="button-panel" *ngIf="start && places && places.length">
    <button mat-raised-button (click)="compute()">
      Calculer
      <mat-spinner
        *ngIf="isComputing"
        class="load-spinner"
        diameter="20"
      ></mat-spinner>
    </button>
  </div>
</div>
